/* ========================================================================
 * 핸즈온테이블 오버라이드
*/
.ht-theme-main,
.ht-theme-main-dark,
.ht-theme-main-dark0-auto {
  --ht-border-color: #ff0000;
  --ht-cell-horizontal-border-color: #ff0000;
  --ht-cell-vertical-border-color: #ff0000;
}

/* 줄무늬: odd/even stripe 처리 */
//.htCore tr:nth-child(even) td {
//  background-color: #f9f9f9;
//}
//
//.htCore tr:hover td {
//  background-color: #f1f1f1;
//}

/* 테두리 스타일 */
.htCore td, .htCore th {
  //border-color: #dee2e6;
}

/* 폰트 및 기본 스타일 부트스트랩에 맞추기 */
.htCore {
  font-family: 'Pretendard', 'Apple SD Gothic Neo', sans-serif;
  font-size: 14px;
}

// * handsontable odd 백그라운드 컬러 강제 import. 흰색이여하는데 왜 회색이지..?
.handsontable tr.ht__row_odd td {
  background-color: var(--ht-row-cell-odd-background-color) !important;
}